.list{
    font-size: 9.5 rem;
    color: chocolate;
    text-decoration: underline;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}
.img{
    display: flex;
    border: 6px solid palegoldenrod;
}
.head{
    font-size: 3rem;
    color: coral;
}
