body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;

}
.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  border: 5px solid;
  border-radius: 50px;
  background-color: white;
  padding: 30px;
}
.display{
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: rgb(157, 145, 145);
  text-shadow: 2px 2px 2px hsl(0, 0%, 0%,0.75);
  margin-bottom: 25px;
}
.controls button{
  font-size: 1.5 rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition:background-color 0.5s ease;

}
.start-button{
  background-color: hsl(115, 100%, 40%);
}
.start-button:hover{
  background-color: hsl(115, 100%, 30%);
}
.stop-button{
  background-color: hsl(0, 88%, 46%);
}
.stop-button:hover{
  background-color: hsl(0, 100%, 35%);
}
.reset-button{
  background-color: hsl(229, 100%, 40%);
}
.reset-button:hover{
  background-color: hsl(200, 100%, 20%);
}