body{
  background-image: url(https://th.bing.com/th/id/OIP.20VIEfAwLxCnYdAcdeKBnQHaF7?w=227&h=182&c=7&r=0&o=5&dpr=1.3&pid=1.7);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  text-align: center;
  text-shadow: 3px 3px 20px blue;
  font-family: 'BhuTuka Expanded One', cursive;
  font-family: 'Fragment Mono', monospace;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Oswald', sans-serif;
}
legend{
  border: 2px solid black;
  padding: 8px;
  border-radius: 10px 0 10px 0 ;
  background-color: aqua;
  color: black;
}
fieldset{
  width: 90%;
  margin: auto;
  border-radius: 10px;
}