
/* EXTERNAL STYLING */

.button{
  background-color: rgb(21, 46, 187);
  color: white;
  border-radius: 5px;
  padding: 10px,20px;
  cursor: pointer;
  border: none;
  height: 70px;
  width: 100px;
}