.To-Do-List{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
margin-top: 100px;
}
h1{
    font-size: 4rem;
    text-align: center;
}
.main{
    text-align: center;
}
button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
     margin-left:10px ;  
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    color: white;
}
.add-button{
    background-color: rgb(56, 137, 150);
}
.add-button:hover{
    background-color: rgb(61, 185, 26);
}
.delete-button{
    background-color: red;
}
.delete-button:hover{
    background-color: orange;
}
.move-button{
    background-color: aqua;
    padding-left: 10px;
}
input[type="text"]{
     font-size: 1.7rem;
     padding: 10px;
     border: 2px solid orange;
     border-radius: 5px;
     color: cadetblue;
     text-align: center;
}
ol{
    padding: 0;
}
li{
    font-size: 2rem;
    font-weight: 15px;
    background-color: hsl(0, 0%, 97%);
    border: 1px solid black;
    align-items: center;
    display: flex;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
}
.text{
    flex: 1;
}
.delete-button .move-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin: 30px;
}
body{
    background-color: orange;
}