.counter-container{
    border: 3px solid aqua;
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
     margin: 40px;
}
.counter-display{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.counter-button{
    width: 150px;
    height: 50px;
    font-weight: bold;
    background-color: aqua;
    color: red;
    border: none;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
}