
.card{
border: 1px solid blue;
border-radius: 10px;
box-shadow: 5px 5px 5px hsl(0, 0%, 0%,0.1);
padding: 20px;
text-align: center;
max-width: 250px;
display: inline-block;
margin-top: 10px;
margin-left: 20px;
} 
.card .card-img{
  max-width:60%;
  height: auto;
  border-radius: 45%;
  margin-bottom: 10px;
}
.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  color: hsl(0, 0%, 20%);
}
.card card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 34%);
}