.main-div{
 display: flex;
 justify-content: center;
 height: 100vh;
 flex-direction: column;
 align-items: center;
 background-color: aqua;
}
.inner-div{
  background-color: orange;
  padding: 40px;
  border-radius: 20px;
}
.container{
     margin-bottom: 30px;
     margin-top: 40px;
}
.container button{
  margin: 10px;
  padding: 10px;
}
.add-button{
  background-color: hsl(180, 100%, 50%);
}
.add-button:hover{
  background-color: hsl(180, 100%, 40%);
}
.sub-button{
  background-color: hsl(0, 100%, 50%);
}
.sub-button:hover{
  background-color: hsl(0, 100%, 40%);
}
.reset-button{
  background-color: hsl(281, 61%, 47%);
}
.reset-button:hover{
  background-color: hsl(281, 61%, 35%);
}


