fieldset:hover{
  box-shadow: 20px 20px 20px rgb(247, 4, 4);
  }
  body{
    background-image: url(../nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1{
    text-align: center;
    text-shadow: 3px 3px 20px blue;
    font-family: 'BhuTuka Expanded One', cursive;
    font-family: 'Fragment Mono', monospace;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Oswald', sans-serif;
  }
  legend{
    border: 2px solid black;
    padding: 8px;
    border-radius: 10px 0 10px 0 ;
    background-color: aqua;
    color: black;
  }
  fieldset{
    width: 90%;
    margin: auto;
    border-radius: 10px;
  }
  form input{
      display: block;
      border-radius: 8px;
      padding: 8px;
    }
    
      form button{
      margin: 10px;
      width: 80%;
      padding: 8px;
      border-radius: 8px;
      color:royalblue;
      margin-left: 480px;
    
    }
    form button:hover{
      background-color: orange;
      color: beige;
    }
  