/* Styles for the header */
#main-header {
    background-color: #28a745; /* Green background color */
    color: #fff; /* White text color */
    padding: 1rem; /* Padding around the header */
    margin-bottom: 1rem; /* Margin at the bottom of the header */
  }
  
  /* Styles for the main container */
  .container {
    max-width: 800px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  /* Styles for the card */
  .card {
    border: 1px solid #ced4da; /* Gray border */
    border-radius: 0.25rem; /* Rounded corners */
    padding: 1rem; /* Padding inside the card */
    margin-bottom: 1rem; /* Margin at the bottom of the card */
  }
  
  /* Styles for the form */
  .form-inline {
    display: flex; /* Display form elements inline */
  }
  
  /* Styles for the input fields */
  .form-control {
    margin-right: 0.5rem; /* Margin between input fields */
  }
  
  /* Styles for the submit button */
  .btn {
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  ul {
    list-style: none;
  }
  
  /* Styles for the list items */
  .list-group-item {
    border: 1px solid #ced4da; /* Add border around list items */
  border-radius: 0.25rem; /* Rounded corners */
  padding: 0.5rem; /* Padding inside the list items */
  margin: 0; /* Remove margin */
  margin-bottom: 0.5rem; /* Add margin only at the bottom of each item */
  width: calc(100% - 45px); /* Adjust based on your input field width */
    
  }
  