.welcome-message{
    font-size: 2.5rem;
    background-color: hsl(120, 100%, 42%);
    color: white;
    padding: 10px;
    border-radius: 5px ;
    margin: 0px;
}
.login-prompt{
    font-size: 2.5rem;
    background-color: hsl(347, 83%, 45%);
    color: white;
    padding: 10px;
    border-radius: 5px ;
    margin: 0px;
}