h1{                               /*  h1,p{   }  we can also give like this*/
      color: aqua;                         
      background-color: blue;
      text-align:center;
      }
      p{
        padding-top: 50px;
        color: black;
        background-color: blue;
      }