.list-category{
    font-size: 2.5em;
    font-weight: bold;
    color: hsl(0, 0%,20%);
    text-align: center;;
    border: 3px solid black;
    border-radius: 5px;
    border-color: red;
}
.list-items li{
     font-size:  2em;
     list-style: none;
     color: hsl(0, 0%,25%);
     text-align: center;
     margin: 0;
     border: 2px solid aqua;

}

.list-items li:hover{
    color: orange;
    cursor: pointer;
}