body{
background-image: url("./assets/image.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
margin: 0;
 /* optional */
 display: flex;
 justify-content: center;
 min-height: 100vh;
 align-items: center;
}
.clock-container{
  backdrop-filter: blur(5px);
  width: 100vw;
  padding: 10px 0;
  
   }
.clock{
    color: white;
    font-size: 6rem;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 6px 6px 5px black;
    text-align: center;
}